<div class="collection-banner">
  <h1>{{ collection.title }}</h1>
  {% if collection.description != blank %}
    <div class="collection-description">
      {{ collection.description }}
    </div>
  {% endif %}
  {% if collection.image %}
    <img src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.title }}">
  {% endif %}
</div>

{% schema %}
{
  "name": "Collection Banner",
  "tag": "section",
  "class": "section"
}
{% endschema %}
